*{
	font-family: Georgia, Times, Serif;
}


h1 {
	color: white;
	background-color: #4aaaa5;
	font-size: x-large;
	align-content: center;
	float:left;
	padding: 10px
}

h2 {
	font-size: large;
	font-weight: bold;
	color: #4aaaa5;
}

body{
	background-image: url(cheap_diagonal_fabric.png);
	padding: 15px;
}

.aboutme {
    width: 55%;
    text-align: justify;
    margin-left: 10px;
    margin-top: 15px;
    display: block;
    background-color: whitesmoke;
    padding: 12px;
    float: left;
    line-height: 1.5em;
}

.link-button-wrapper {
	color: white;
	float: right;
	padding-right: 20px;
	margin-right: 10px;
	text-align: center;
}

.container {
    float: left;
    bottom: 485px;
    position: absolute;
    left: 60%
}

#contact {
	font-weight: bold;
	margin-left: 40px;
	border: 2px solid #4aaaa5;
	padding: 30px;
	align-content: center
}

.icon {
	width: 30px;
	height: 30px;

}

.footer {
  	position: absolute;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	padding: .5em;
 	background-color: #efefef;
 	text-align: center;
}

#portfolio {
	font-size: large;
	font-weight: bold;
	color: #4aaaa5;
}

#contactsection {
    margin-left: 105px;
    margin-top: 20px;
    float: left;
    text-align: left;
    position: absolute;
    top: 10%;
    background-color: #FAF4F4;
    padding-left: 5px;
    padding-bottom: 5px;
    color: #e86666;
    font-weight: bold;
}
